body{
    background-image: linear-gradient(to left, rgb(109, 193, 253), rgb(0, 248, 203));
    text-align: center;
    background: url("https://i.imgur.com/aPCpOKq.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: white; 
    text-align: center;
    font-size: 80px;
    font-weight: 500; 
    margin-bottom: 10px;
    font-family: 'Times New Roman'; 
    text-shadow: 5px 5px 3px rgb(92, 140, 140); 
}

main{
    margin:auto; 
    font-size: 18px; 
    width: 500px; 
    border: 1px solid; 
    border-radius: 10px;
    background-color: whitesmoke;
    opacity: 0.7;
    padding: 30px; 
    color:black; 
    text-align: center;
}

#getQuote{
    width: 130px; 
    color: black;
    height: 50px; 
    text-align: center;
}

button{
    margin: 40px; 
    background-color: linen;
}
